.booktable{
    background-image: url(1.jpg);
    background-position: center center;
	-webkit-background-size:cover;
	background-size: cover;
    height: 100vh;
    
   
}
.b1{
    font-family: sans-serif;
    font-size: medium;   
    margin-top: 5cm;
    margin-bottom: 2cm;
    margin-left: 12cm;
    margin-right: 12cm;
    border-top:black;
    border-top-style: double;
    border-top-width: thick;
    border-bottom:black;
    border-bottom-style: double;
    border-bottom-width: thick;
    border-left: black;
    border-left-style: double;
    border-left-width: thick;
    border-right: black;
    border-right-style: double;
    border-right-width: thick;
}
h1{
    color:rgb(61, 245, 229);
    background-color: white;
}
a{
    color:rgb(61, 245, 229);
}